/* line 2, /Users/rriveras/Code/projects/ludicash/client/assets/stylesheets/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, /Users/rriveras/Code/projects/ludicash/client/assets/stylesheets/base.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 8, /Users/rriveras/Code/projects/ludicash/client/assets/stylesheets/base.scss */
h1 {
  font-size: 22.652px;
}

/* line 12, /Users/rriveras/Code/projects/ludicash/client/assets/stylesheets/base.scss */
h2 {
  font-size: 36.65094px;
}

/* line 16, /Users/rriveras/Code/projects/ludicash/client/assets/stylesheets/base.scss */
h3 {
  font-size: 59.30121px;
}

/* line 20, /Users/rriveras/Code/projects/ludicash/client/assets/stylesheets/base.scss */
h4 {
  font-size: 95.94936px;
}
