@import "libs/bourbon/bourbon";
@import "libs/neat/neat";
@import "libs/normalize";

body {
	font-family: $helvetica;
	font-size: 14px;
}

h1, p {
	margin:0 0 0.67em;
}

h1 {
	font-size: golden-ratio(14px,  1);
}

.container {
	@include outer-container;
}

header {
	background-color: #333;
	color: #ddd;
}

footer {
	background-color: #e6e6e6;
}